* {
	margin: 0px; padding: 0px;
	}
	#cabeceralogo { display: flex;
	justify-content: center; width: 96%;
	height: 120px; padding: 0% 2%;
	background-color: #FFCCFF;
	}
	#cabeceralogo > div { flex: 1;
	max-width: 975px; padding-top: 40px;

	}
	#cabeceralogo h1 {
	font: bold 76px Arial; color: #990066;
	}
	#menuprincipal { display: flex;
	justify-content: center; width: 96%;
	height: 40px; padding: 0% 2%;
	background-color: #FF99FF; border-top: 2px solid #FFCCFF;
	border-bottom: 1px solid #FFCCFF;
	}
	#menuprincipal > div { flex: 1;
	max-width: 960px;
	}
	#menuprincipal li { display: inline-block; height: 35px;
	padding: 15px 10px 0px 10px; margin-right: 5px;
	}
	#menuprincipal li:hover { background-color: #AAAAAA;
	}
	#menuprincipal a {
	font: bold 18px Tahoma sans-serif; color: #9900CC;
	text-decoration: none;
	}
	main {
	display: flex;
	justify-content: center;
	width: 96%;
	padding: 2%;
	background-image: url("fondo.png");
	}
	main > div { display: flex; flex: 1;
	max-width: 960px;
	}
	#articulosprincipales { flex: 1;
	margin-right: 30px; padding: 20px; background-color: #FF66FF; border-radius: 20px;
	}
	#infoadicional { width: 280px; padding: 20px;
	height: 400px;
	background-color: #FF66FF; border-radius: 10px;
	}
	#infoadicional h1 {
	font: bold 20px Verdana,Arial sans-serif; color: #990066;
	margin-bottom: 15px;
	}
	article {
	position:  relative; padding: 0px 40px 20px 40px;
	}
	article time { display: block; position: absolute; top: -5px;
	left: -70px; width: 80px; padding: 15px 5px;
	background-color: #CC0030;
	box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7); border-radius: 5px;
	}
	.numerodia {
	font: bold 36px Verdana, sans-serif; color: #CC0030;
	
	text-align: center;
	}
	.nombredia {
	font: 12px Verdana, sans-serif; color: #CC0030;
	text-align: center;
	}
	
	.parrafo {
		text-align:justify;
	
	}
	article h1 {
	margin-bottom: 5px;
	font: bold 30px Georgia, sans-serif;
	}
	article p {
	font: 18px Georgia, sans-serif;
	}
	figure {
	margin: 10px 0px;
	}
	figure img {
	max-width: 98%;
	padding: 1%;
	}
	#pielogo { display: flex;
	justify-content: center; width: 96%;
	padding: 2%;
	background-color: #FF99FF;
	}
	#pielogo > div { display: flex; flex: 1;
	max-width: 960px; background-color: #FFCCFF; border-radius: 10px;
	}
	.seccionpie {
	flex: 1; padding: 25px;
	
	}
	.seccionpie h1 {
	font: bold 20px Arial, sans-serif;
	}
	.seccionpie p {
	margin-top: 5px;
	}
	
	.seccionpie a {
	font: bold 16px Arial, sans-serif; color: #CC00CC;
	text-decoration: none;
	}
