{
    margin: 0px;
    padding: 0px;
  }
   :root {
      --color-primario:  #abebc6 ;
      --color-hover: #4646462c;
      --color-secundario: darkblue;
      --color-componente: black;
      --altura-etiqueta: 0.7rem;
      font-family: sans-serif
    }
  
    * {
      box-sizing: border-box;
    }
  
    #body {
      margin: 0;
    }
  
    #header {
      display: flex;
      position: sticky;
      top: 0;
      background-color: var(--color-primario);
    }
  
    #h1 {
      margin: 0;
      padding: 0.5rem 0 0.5rem 0.5rem;
      font-size: 1.2rem;
      margin-right: auto;
    }
  
    #button {
      border: none;
      padding: 0.5rem;
      background-color: transparent;
    }
  
    button:hover {
      background-color: var(--color-hover)
    }
  
    input {
      width: 100%;
      padding: 0;
      border: none;
      border-bottom:
        1px solid var(--color-componente);
    }
  
    #icon{
       margin-right: auto;
    }
  
    #barra{
      width:  60px;
      margin-top:  260px
    }
  
    input,
    textarea {
      width: 100%;
      padding: 2px 0;
      border: none;
      border-bottom: 1px solid var(--color-componente);
    }
  
    input:focus,
    textarea:focus {
      outline: none;
      border-bottom-color: var(--color-secundario);
    }
  
    p {
      margin: 1rem;
    }
  
    p.campo {
      position: relative;
      padding-top: var(--altura-etiqueta);
    }
  
    p.campo label, output {
      position: absolute;
      top: 0;
      left: 0;
      font-size: var(--altura-etiqueta);
      color: var(--color-componente);
    }
  
    p.campo.flotante label {
      top: calc(var(--altura-etiqueta) - 0.2em);
      font-size: 1em;
      transition: 0.7s ease-out;
      padding: 0;
    }
  
    p.campo.flotante :focus+label,
    p.campo.flotante :valid+label {
      top: 0;
      font-size: var(--altura-etiqueta);
    }

